
  
  
  #navbar  {
    overflow:hidden;
    border: solid black 6px;
    width: 100%;
    display: block;
    color: #8BA3A1;
    text-align: center;
    font-style: italic;
    font-weight: bold;
  
    padding: 20px;   
    background:#F7F7F8  ;
  }
  #navbar a{
    padding: 1cm;
  }
  #navbar a.active{
    color:black;
  }