.body {
    margin: 30px;
}

/* Granny Smith #8BA3A1 <-- Light Accent
Desert Storm: #F7F7F8 <-- Light Shades
Oslo Gray: #878B91 <-- Dark Accent
Jumbo: #797A7B <-- Main Brand Color / Background Color
Woodsmoke: #121215 <-- Dark Shades */